<div class="center hero-unit">
  <h1>Bem-Vindo ao OBMEP</h1>

   <h2>Versão 0.01 alpha do OBMEP(Olimpiada Brasileira de Matemática das Escolas Públicas)</h2>

  <h3>
    Essa é a homepage de plataforma. Ainda estamos em fase de desenvolvimento.
    <a href="http://almeidamarcell.com/"></a>
    
  </h3>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>